<div ng-controller="HelloWorldCntrl" class="container">
	<div class="row">
		<div class="col col-md-4">
		<h2>Employee Data</h2>
		<div id="search-box">Search : <input ng-model="query"></div>
		<ul>
			<ol ng-repeat="employee in employees | filter:query">
				<label>Name: {{employee.name}} </label><br/>
				<label class="designation">Designation {{employee.designation}}</label>
			</ol>
		</ul>
	</div>
</div>
<div ng-controller="AnotherCntrl" class="container">
	<div class="row">
		<div class="col col-md-4">
			<form class="form-panel">
				<div class="form-group">
					<label for="inputName">Name</label>
					<input type="text" id="inputName" class="form-control" ng-model="newEmployee.name"/>
				</div>
				<div class="form-group">
					<label for="inputDesignation">Designation</label>
					<input type="text" id="inputDesignation" class="form-control" ng-model="newEmployee.designation"/>
				</div>
			</form>
			<button class="btn btn-success" type="submit" ng-click="addNewEmployee()">Add New Employee</button>
		</div>
	</div>
</div>
